<h2>Login Form</h2>



  <div class="container">
    <label for=""><b>Email</b></label>
    <input type="email" [(ngModel)]="user.email" placeholder="Enter Username" name=""  required>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="user.password" placeholder="Enter Password" name=""  required>
        
    <button type="submit" (click)="login()">Login</button>
   <small class="errtxt" *ngIf="err">{{err.message}}</small>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="registerbtn" (click)="router.navigate(['/signup']);">Register</button>
    <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
  </div>


